@media (max-width: 991px) {
  .btn-secondary {
    display: block;
    margin-top: 10px;
    margin-left: 4%;
    position: relative;
    width: 90%;
  }
}

#close-bar {
  font-size: 22px;
  color: #3e3947;
  margin-right: 0;
  position: absolute;
  right: 5%;
  background: white;
  opacity: 0.5;
  padding: 0px;
  height: 25px;
  line-height: 21px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  top: 18px;
  cursor: pointer;
  z-index: 9999999999;
  font-weight: 200;
}

#ofBar {
  background: #de2e2e;
  text-align: left;
  z-index: 999999999;
  font-size: 16px;
  color: #fff;
  padding: 10px 5%;
  font-weight: 400;
  display: block;
  position: relative;
  top: 0px;
  box-shadow: 0 6px 13px -4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
  #ofBar {
    padding: 50px 20px 20px;
    text-align: center;
  }
}



@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}
