.input-info {
  color: #fff;
  font-size: 0.78rem;
  text-align: center;
  padding: 5px;
}

.transp {
  border: 2px solid #fff;
  background: #fff0;
  padding: 10px 15px;
  color: #fff !important;
  height: auto;
}

.transp-form {
  background: #fff0;
  color: #fff !important;
}

.border-radius-left {
  border-radius: 5px 0px 0px 5px;
}
.input-group-text{
  background-color: unset!important;
}

::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
