<div id="content">
  <div class="header pb-4 pt-6 pl-3">
    <i class="fas fa-question-circle pl-4"></i>
    <span class="h4 pl-2">Dúvidas e Suporte</span>
  </div>

  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-body">
            <div class="alert alert-secondary" role="alert">
              <strong>1. E se nada disso funcionar?</strong> Praticamente impossível não funcionar, existem diversos
              casos de sucesso no mercado de trader esportivo de pessoas que mal sabiam sobre este mercado, ou até mesmo
              pessoas que não gostam de esportes. O conhecimento você já irá adquirir através do
              conteúdo da plataforma. O resultado vem, mas depende também de você, do seu esforço e dedicação, pois não
              é dinheiro fácil.
            </div>
            <div class="alert alert-secondary" role="alert">
              <strong>2. Por quanto tempo terei acesso ao Punter Bot?</strong> O seu acesso ao nosso sistema é mensal.
              Poderá configurar seu bot,
              visualizar dados no painel in-live, leitura de dados das partidas históricas a cada time, e acesso a
              futuras novas funcionalidades para que sua experiência
              seja completa e ativa.
            </div>
            <div class="alert alert-secondary" role="alert">
              <strong>3. Como e por onde vou receber meu lucro?</strong> Você receberá seus lucros através da corretora
              que vamos utilizar, a Bet365. Seu dinheiro fica em seu poder, e ao solicitar saque, a corretora deposita
              diretamente em sua conta, lembramos novamente que o mercado de trader possui seus riscos, não existe lucro
              garantido. <strong>NÃO FAZEMOS A CUSTÓDIA DO DINHEIRO DE NINGUÉM!</strong>
            </div>
            <div class="alert alert-secondary" role="alert">
              <strong>4. Como funciona o grupo do Telegram?</strong> Atualmente temos um grupo de
              <strong>assinantes</strong> no telegram, onde os assinantes podem interagir, trocar informações e
              conhecimentos em trader esportivo. Este
              grupo possui uma mensalidade recorrente.
            </div>
            <div class="alert alert-secondary" role="alert">
              <strong>5. Para obter rendimentos com Trader Esportivo vou ter que ficar assistindo jogos o dia
                inteiro?</strong> Nem o dia inteiro, nem hora nenhuma. Você vai receber sinais já "mastigados" após a
              análise feita pelo nosso robô que vive para isto. Você pode também configurar suas próprias estratégias.
              Claro que a medida que você for
              gostando e se identificar com os sinais, provavelmente vai começar a fazer suas próprias análises embasas
              nos sinais enviados pelo nosso robô. Mas
              não é obrigatório!
            </div>
            <div class="alert alert-secondary" role="alert">
              <strong>6. Assim que eu adquirir, como terei meu acesso ao curso?</strong> Você receberá o acesso ao
              dashboard
              pelo seu E-mail. Se você realizar o pagamento por cartão de crédito, em até 5 minutos você recebe seu
              acesso, se for por boleto, após o pagamento, em até 48 horas.
            </div>
            <div class="alert alert-secondary" role="alert">
              <strong>7. Se realmente eu não gostar terei meu dinheiro de volta?</strong> Sim, você pode cancelar seu
              curso em até 7 dias após o pagamento! Não estamos aqui de lero lero, nossa meta é fazer você ter lucros,
              caso você não perceba isto, nosso compromisso é com o ser humano. Pode cancelar que reembolsamos seu
              money!
            </div>
            <div class="alert alert-primary" role="alert">
              <strong>Ainda tem alguma dúvida?</strong> Entre em contato diretamente com nosso suporte exclusivo no
              whatsapp. <a
              (click)="contato()"
              class="font-weight-bold" style="cursor: pointer;">Clique aqui!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
