.bg-transparent-login {
  background-color: #ffffff00 !important;
  border-radius: 10px;
}

.font-size-bem-vindo {
  font-size: 15px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5e72e4;
}

.effect {
  color: #fff !important;
  transition: filter 0.2s;
}

.effect:hover {
  filter: brightness(90%);
}
